# Compiler files
cache/
out/
*.log

# Ignores development broadcast logs
/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env*

# misc
.DS_Store
node_modules
.vscode
.wake

#lock
package-lock.json

#abis
abi

# cache
.forge-cache

# Coverage temp files
lcov.info

# error files
*.log
